<div class="page-container">
  <div class="approval-container">
    <h4>Edit recommendation </h4>
    <p>The recommendee: </p>
    <%= render partial: 'users/doctor_card', object: @receiver, as: :doctor %>
  <div class="approval-form">
    <%= simple_form_for @approval, url: doctor_approval_path(@receiver) do |f| %>
      <%= f.input :headline, placeholder: "Title of your recommendation", class: "approval-headline"%>

      <%= f.label "Fields", :field_ids %>
      <p class="info-text">Please select up to 5 fields you recommend <%= @receiver.full_name_with_title %> for.</p>
      <div class="field-choices">
        <%= f.collection_check_boxes :field_ids,
                                      @receiver.specialties.first.fields,
                                      :id,
                                      :name,
                                      item_wrapper_tag: :div,
                                      item_wrapper_class: "field-choice"  %>
      </div>

      <%= f.input :content, as: :text, placeholder: "Why do you recommend this doctor?"%>

      <div class="anonymous-choice">
        <%= f.input :anonymous, as: :radio_buttons, label: "Do you want to stay anonymous?" %>
      </div>

      <div class="submit-btn-container">
      <%= f.submit "Update", class: "btn-mint"  %>
      </div>
    <% end %>
  </div>
  </div>
</div>

