<div class="page-container">
  <div class="recommendee-container">
    <h4>Edit recommendation </h4>
    <p>The recommendee: </p>
    <%= render partial: 'users/doctor_card', object: @receiver, as: :doctor %>
  </div>
  <div class="approval-form">
    <%= simple_form_for @approval, url: doctor_approval_path(@receiver) do |f| %>
      <%#= render partial: 'error_messages', object: @approval %>
      <!-- <div class="approval_explanation">Thank you! By writing a trusted doctor recommendation you will help patients to find the right doctor for their condition.</div> -->
      <%= f.input :headline, placeholder: "Title of your recommendation", class: "approval-headline"%>
      <%= f.label "Fields", :field_ids %>
      <p class="info-text">Please select up to 5 fields you recommend <%= @receiver.full_name_with_title %> for.</p>
      <div class="field-choices">
        <%= f.collection_check_boxes :field_ids,
                                      @receiver.specialties.first.fields,
                                      :id,
                                      :name,
                                      item_wrapper_tag: :div,
                                      item_wrapper_class: "field-choice"  %>
      </div>
      <%= f.input :content, as: :text, placeholder: "Why do you recommend this doctor?"%>

<!--       <label class="switch">
        <%#= f.input :anonymous,
                    as: :check_boxes,
                    item_wrapper_tag: :div,
                    item_wrapper_class: "hidden"%>
        <span class="slider"></span>
      </label>
 --><!--
      <div class="slider-container">
        <label> Reveal personal information?</label>
        <label class="switch">
          <input type="checkbox" class="hidden" value="<%= @approval.anonymous %>" id="<%= @approval.anonymous %>" >
          <span class="slider"></span>
        </label>
      </div> -->
      <%= f.submit "Recommend", class: "btn-mint"  %>
    <% end %>
  </div>
</div>

