<!-- Do not delete outer div -->
<div>
  <%= render 'users/dashboard/dashboard_reviews_given_quota' %>
</div>

<div>
  <% @approvals.each do |approval| %>
  <!-- Info box on top of recommendations -->
    <div data-approval-id="<%= approval.id %>">
      <div class="approval-info-box d-flex align-items-center">
        <div>
          <% recommendee = approval.receiver %>
          <%= link_to doctor_path(recommendee) do  %>
            <%= cl_image_tag recommendee.profile_picture,
              height: 50,
              width: 50,
              crop: :fill,
              class: "avatar-medium"
            %>
          <% end %>
        </div>
        <div>
              <p style= "padding: 0 16px; margin-bottom: 0;">You recommended <strong> <%= link_to "#{recommendee.title} #{recommendee.first_name} #{recommendee.last_name}", doctor_path(recommendee), style: "text-decoration: none; color: rgb(66, 67, 62);" %> </strong> at <%= recommendee.clinic.name %></p>
        </div>
        <div>
          <%= link_to image_tag("icons/pen.svg"), edit_doctor_approval_path(approval.receiver, approval), style: "margin-left: 16px;" %>
        </div>
        <div>
          <%= link_to image_tag("icons/trash.svg"), approval_path(approval), method: :delete, remote: true, data: {confirm: "Are you sure?"}, style: "margin-left: 16px;" %>
        </div>
      </div>
      <div>
        <%= render partial: 'users/profile_page/approval_card/approval_card', locals: { approval: approval} %>
      </div>
    </div>

  <% end %>
</div>
