<div class="dashboard-profile-summary info-section">
  <% percentage = 0 %>
  <% progress_color = "#42433e" %>
  <% font_color = "#42433E" %>
<!-- This calculates the percentage depending the amount of data saved in the profile -->
  <% if current_user.clinic.name != nil %>
  <% percentage += 11 %>
  <% end %>

  <% if current_user.profile_picture != nil %>
  <% percentage += 12 %>
  <% end %>

  <% if current_user.clinic.address != nil %>
  <% percentage += 12 %>
  <% end %>

  <% if current_user.clinic.phone_number != nil %>
  <% percentage += 13 %>
  <% end %>

  <% if current_user.clinic.website != nil %>
  <% percentage += 13 %>
  <% end %>

  <% if current_user.clinic.email != nil %>
  <% percentage += 13 %>
  <% end %>

  <% if current_user.clinic.consultation_times != nil %>
  <% percentage += 13 %>
  <% end %>

  <% if current_user.clinic.description != nil %>
  <% percentage += 13 %>
  <% end %>
<!-- This calculates the color of the progress bar's background depending on the percentge -->
  <% if percentage >= 0 && percentage <= 30 %>
  <% progress_color = "#FD1015" %>
  <% elsif percentage > 30 && percentage <= 60 %>
  <% progress_color = "#E67E22" %>
  <% elsif percentage > 60 && percentage <= 99 %>
  <% progress_color = "#fff538" %>
  <% else %>
  <% percentage = 100 %>
  <% progress_color = "#6fbcb4" %>
  <% font_color = "#FFFFFF" %>
  <% end %>

<div>
  <h4>Clinic information</h4>
  <div class="progress position-relative" style="height: 25px; width: 50%; margin: 0 auto; margin-top: 15px; font-size: 0.95rem; color: <%= font_color %>;">
    <div class="progress-bar" role="progressbar" style="background: <%= progress_color %>; width: <%= percentage %>%" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="justify-content-center d-flex position-absolute w-100"><%= percentage %>% Completed</div>
  </div>
  <div style="padding-top: 36px;">
  <% if current_user.clinic.clinic_picture != nil %>
    <%= cl_image_tag current_user.clinic.clinic_picture, class: "avatar-square" %>
  <% end %>
  </div>
    <div class="dashboard-profile-summary-data info-section" id="current-clinic-data">
      <div>
      <p><strong>Name:</strong>
        <% if current_user.clinic.name != nil %>
        <%= current_user.clinic.name %>
        <% else %>
        <%= "No name provided." %>
        <% end %>
      </p>
      <p><strong>Address:</strong>
        <% if current_user.clinic.address != nil %>
        <%= current_user.clinic.address %>
        <% else %>
        <%= "No address provided." %>
        <% end %>
      </p>
      <p><strong>Phone:</strong>
        <% if current_user.clinic.phone_number != nil %>
        <%= current_user.clinic.phone_number %>
        <% else %>
        <%= "No phone provided." %>
        <% end %>
      </p>
      <p><strong>Website:</strong>
        <% if current_user.clinic.website != nil %>
        <%= current_user.clinic.website %>
        <% else %>
        <%= "No website provided." %>
        <% end %>
      </p>
      <p><strong>Email:</strong>
        <% if current_user.clinic.email != nil %>
        <%= current_user.clinic.email %>
        <% else %>
        <%= "No email provided." %>
        <% end %>
      </p>
      <p><strong>Consultation Times:</strong>
        <% if current_user.clinic.consultation_times != nil %>
        <%= current_user.clinic.consultation_times %>
        <% else %>
        <%= "No consultation times provided." %>
        <% end %>
      </p>
      <p><strong>Description:</strong>
        <% if current_user.clinic.description != nil %>
        <%= current_user.clinic.description %>
        <% else %>
        <%= "No description provided." %>
        <% end %>
      </p>
      </div>
    </div>
      <div class="edit-btn">
          <button id="edit-clinic-btn" class="btn-mint">Edit</button>
      </div>
  </div>

    <div id="edit-clinic" class="hide">
      <%= form_for @clinic, url: clinic_path(@clinic) do |f| %> <!-- , url: { action: "update" } -->
        <br><strong>Clinic Picture</strong><br>
        <%= f.file_field :clinic_picture %>
        <%= f.hidden_field :clinic_picture_cache, as: :hidden %> <br>
        <strong>Name:</strong><br>
        <%= text_field_tag :name,
          params[:name] = @clinic.name,
          class: "input-field edit-field"
          %>
        <strong>Address:</strong><br>
        <%= text_field_tag :address,
          params[:address] = @clinic.address,
          class: "input-field edit-field"
          %>
        <strong>Phone:</strong><br>
        <%= text_field_tag :phone_number,
          params[:phone_number] = @clinic.phone_number,
          class: "input-field edit-field"
          %>
        <strong>Website:</strong><br>
        <%= text_field_tag :website,
          params[:website] = @clinic.website,
          class: "input-field edit-field"
          %>
        <strong>Email:</strong><br>
        <%= text_field_tag :email,
          params[:email] = @clinic.email,
          class: "input-field edit-field"
          %>
        <strong>Consultation Times:</strong><br>
        <%= text_field_tag :consultation_times,
          params[:consultation_times] = @clinic.consultation_times,
          class: "input-field edit-field"
          %>
        <strong>Description:</strong><br>
        <%= text_area_tag :description,
          params[:description] = @clinic.description,
          class: "input-field edit-field"
          %>
          <br>
        <div class="edit-btn">
          <%= submit_tag "Update", id: "save-clinic-btn", class: "btn-mint" %>
        </div>
      <% end %>
    </div>
</div>


