<div class="dashboard-profile-summary">
  <% if current_user.profile_picture != nil %>
  <%= cl_image_tag @doctor.profile_picture, class: "avatar-square" %>
  <% end %>
  <br /><%= link_to "Edit", "#", class: "text_mint" %>

  <% porcentage = 0 %>
  <% progress_color = "$light-gray" %>

  <% if current_user.first_name != nil %>
  <% porcentage += 15 %>
  <% end %>

  <% if current_user.last_name != nil %>
  <% porcentage += 15 %>
  <% end %>

  <% if current_user.email != nil %>
  <% porcentage += 14 %>
  <% end %>

  <% if current_user.profile_picture != nil %>
  <% porcentage += 14 %>
  <% end %>

  <% if current_user.bio != nil %>
  <% porcentage += 14 %>
  <% end %>

  <% if current_user.position != nil %>
  <% porcentage += 14 %>
  <% end %>

  <% if current_user.title != nil %>
  <% porcentage += 14 %>
  <% end %>

  <% if porcentage <= 30 %>
  <% progress_color = "$red" %>
  <% end %>

  <% if porcentage > 30 %>
  <% progress_color = "$orange" %>
  <% end %>

  <% if porcentage > 58 %>
  <% progress_color = "$yellow" %>
  <% end %>

  <% if porcentage = 100 %>
  <% progress_color = "#6fbcb4" %>
  <% end %>

  <div class="dashboard-profile-summary-data">
    <%= current_user.title + " " + current_user.first_name + " " + current_user.last_name%>
    <div class="progress" style="height: 30px; width: 50%; margin: 0 auto; margin-top: 15px; font-size: 0.95rem;">
      <div class="progress-bar" role="progressbar" style="background: <%= progress_color %>; width: <%= porcentage %>%" aria-valuenow="<%= porcentage %>" aria-valuemin="0" aria-valuemax="100">Profile completion: <%= porcentage %>%</div>
    </div>
    <div class="dashboard-profile-summary-data" style="text-align: left;">
      <p><strong>Title:</strong>
        <% if current_user.title != nil %>
        <%= current_user.title %>
        <% else %>
        <%= "No title provided." %>
        <% end %>
      </p>
      <p><strong>Position:</strong>
        <% if current_user.position != nil %>
        <%= current_user.position %>
        <% else %>
        <%= "No position provided." %>
        <% end %>
      </p>
      <p><strong>Email:</strong>
        <% if current_user.email != nil %>
        <%= current_user.email %>
        <% else %>
        <%= "No email provided." %>
        <% end %>
      </p>
      <p><strong>Bio:</strong>
        <% if current_user.bio != nil %>
        <%= current_user.bio %>
        <% else %>
        <%= "No bio provided." %>
        <% end %>
      </p>
    </div>
    <%= link_to "Edit Profile", "#", class: "text_mint" %>
  </div>

</div>
