<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link profile-tab active" href="#received" role="tab" data-toggle="tab">Received Recommendations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link profile-tab" href="#given" role="tab" data-toggle="tab">Given Recommendations</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role='tabpanel' class= "tab-pane active fade show" id="received">

      <h4 style="font-size: 20px">Your latest recommendations by other doctors</h4>
      <% @re_approvals.each do |approval| %>
      <div style= "box-shadow: 10px 10px 30px rgba(180, 178, 178, 0.25); padding: 20px; margin-bottom: 20px;">

      <div class="approval-header">
            <div>
              <p><%= "#{approval.created_at.strftime("%d")}" + " #{@months[approval.created_at.month]} " + "#{approval.created_at.strftime("%Y")}" %></p>
            </div>
        <div class="tag-container">
          <% approval.fields.each do |field|  %>
          <div class="tag-outline" style="height: 32px;">
            <%= field.name %>
          </div>
          <% end %>
        <div>

      </div>


        <div>
          <p>
            Verified doctor in
            <% recommender = User.find { |user| approval.giver_id == user.id } %>
            <%= recommender.specialties.first[:name]%>
          </p>
        </div>
            <%= @user.title %>
          </div>
        </div>
        <p><%= approval.content %></p>
      </div>
      <% end %>
    </div>

    <div role='tabpanel' class= "tab-pane fade" id="given">
      <h4>Recommendations of doctors written by you</h4>
      <% @gi_approvals.each do |approval| %>
      <div class="card-approval">
        <%= image_tag @user.profile_picture, id: "profile-pic", class: "avatar-square-profile"  %>
        <h4><%= @user.title %> <%= @user.first_name %> <%= @user.last_name %></h4>
        <div class="approval-header">
          <h4><%= approval.headline %></h4>
          <div class="card-approval-date">
            <p><%= "#{approval.created_at.strftime("%d")}" + " #{@months[approval.created_at.month]} " + "#{approval.created_at.strftime("%Y")}" %></p>
          </div>
        </div>
        <p><%= approval.content %></p>
        <div class="approval-footer">
          <p>
            Verified doctor in
            <% recommender = User.find { |user| approval.giver_id == user.id } %>
            <%= recommender.specialties.first[:name]%>
          </p>
        </div>
        <div>
          <%= submit_tag "Edit", class: "btn-outline" %>
          <%= submit_tag "Delete", class: "btn-outline" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
