<div class="dashboard-profile-summary info-section">
  <% percentage = 0 %>
  <% progress_color = "#42433e" %>
  <% font_color = "#42433E" %>
<!-- This calculates the percentage depending the amount of data saved in the profile -->
  <% if current_user.first_name != nil %>
  <% percentage += 15 %>
  <% end %>

  <% if current_user.last_name != nil %>
  <% percentage += 15 %>
  <% end %>

  <% if current_user.email != nil %>
  <% percentage += 14 %>
  <% end %>

  <% if current_user.profile_picture != nil %>
  <% percentage += 14 %>
  <% end %>

  <% if current_user.bio != nil %>
  <% percentage += 14 %>
  <% end %>

  <% if current_user.position != nil %>
  <% percentage += 14 %>
  <% end %>

  <% if current_user.title != nil %>
  <% percentage += 14 %>
  <% end %>
<!-- This calculates the color of the progress bar's background depending on the percentge -->
  <% if percentage >= 0 && percentage <= 30 %>
  <% progress_color = "#FD1015" %>
  <% elsif percentage > 30 && percentage <= 60 %>
  <% progress_color = "#E67E22" %>
  <% elsif percentage > 60 && percentage <= 99 %>
  <% progress_color = "#fff538" %>
  <% else %>
  <% percentage = 100 %>
  <% progress_color = "#6fbcb4" %>
  <% font_color = "#FFFFFF" %>
  <% end %>

  <h4>Personal information</h4>
  <div class="progress position-relative" style="height: 25px; width: 50%; margin: 0 auto; margin-top: 15px; font-size: 0.95rem; color: <%= font_color %>;">
    <div class="progress-bar" role="progressbar" style="background: <%= progress_color %>; width: <%= percentage %>%" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="justify-content-center d-flex position-absolute w-100"><%= percentage %>% Completed</div>
  </div>
  <div style="padding-top: 36px;">
  <% if current_user.profile_picture != nil %>
    <%= cl_image_tag current_user.profile_picture, class: "avatar-square" %>
  <% end %>
  </div>
    <div class="dashboard-profile-summary-data" id="current-profile-data">
      <p><strong>Name:</strong>
        <%=current_user.first_name + " " + current_user.last_name%>
        </p>
      <p><strong>Title:</strong>
        <% if current_user.title != nil %>
        <%= current_user.title %>
        <% else %>
        <%= "No title provided." %>
        <% end %>
      </p>
      <p><strong>Position:</strong>
        <% if current_user.position != nil %>
        <%= current_user.position %>
        <% else %>
        <%= "No position provided." %>
        <% end %>
      </p>
      <p><strong>Email:</strong>
        <% if current_user.email != nil %>
        <%= current_user.email %>
        <% else %>
        <%= "No email provided." %>
        <% end %>
      </p>
      <p><strong>Bio:</strong>
        <% if current_user.bio != nil %>
        <%= current_user.bio %>
        <% else %>
        <%= "No bio provided." %>
        <% end %>
      </p>
      <button id="edit-profile-btn" class="btn-mint">Edit</button>
    </div>

    <div id="edit-profile" class="hide">
      <%#= form_for @user, url: doctor_path(@user), html: { multipart: true } do |f| %>
      <%= render template: 'devise/registrations/edit' %>
    </div>
</div>


