<!-- Reassigning @approvals here to get the GIVEN approvals-->

  <% @approvals = Approval.all.select { |approval| approval.giver_id == @doctor.id } %>

  <% trash =
  %>

<!-- Do not delete outer div -->

<div>

  <% @approvals.each do |approval| %>
  <!-- Info box on top of recommendations -->
    <div class="approval-info-box d-flex align-items-center">
      <div>
      <% recommendee = User.find { |user| approval.receiver_id == user.id } %>
        <%= image_tag "profile.png", alt: "Doctor Avatar", class: "avatar-medium", style: "margin-right: 16px;" %>
      </div>
      <div>
            <p style= "padding: 0 16px; margin-bottom: 0;">You recommended <strong> <%= link_to "#{recommendee.title} #{recommendee.first_name} #{recommendee.last_name}", doctor_path(recommendee), style: "text-decoration: none; color: rgb(66, 67, 62);" %> </strong> at <%= recommendee.clinic.name %></p>
      </div>
      <div>
        <%= link_to image_tag("icons/pen.svg"), root_path, class: "btn-mint icon-size", style: "margin-left: 16px;" %>
      </div>
        <%= image_tag "icons/trash.svg", class: "btn-mint", style: "margin-left: 16px;" %>
      <div>
      </div>
    </div>
  <!-- Recommendation card starts here, NOTE MARGIN TOP ZERO!  -->
      <%= render 'users/profile_page/approval_card/approval_card' %>


<!-- Approval tags and content -->

    </div>
  <% end %>
</div>





    <!-- Replace Recommendee Avatar later -->
        <!-- link_to cl_image_tag(recommendee.profile_picture), doctor_path(recommendee), class: "avatar-medium"  -->
