<h5>Recommendations written by you</h5>
<% @gi_approvals.each do |approval| %>

<div class="card-approval">

  <div class="dashboard-given">

    <div style="width: 160px; text-align: center;">
      <% recommendee = User.find { |user| approval.receiver_id == user.id } %>
      <%= cl_image_tag recommendee.profile_picture, height: 300, width: 300, crop: :contain, id: "profile-pic", class: "avatar-square-profile"  %>
      <p style="margin: 5px 0px 0px 0px;">
        <%= recommendee.title %> <%= recommendee.first_name %> <%= recommendee.last_name %>
      </p>
    </div>

    <div style="padding: 10px;">
      <div class="approval-header">
        <h4><%= approval.headline %></h4>
        <div class="card-approval-date">
          <p><%= "#{approval.created_at.strftime("%d")}" + " #{@months[approval.created_at.month]} " + "#{approval.created_at.strftime("%Y")}" %></p>
        </div>
      </div>
      <p><%= approval.content %></p>
    </div>

    <div class="vertical-buttons-center">
      <ul>
        <li><%= submit_tag "Edit", class: "btn-mint" %></li>
        <li><%= submit_tag "Delete", class: "btn-mint" %></li>
      </ul>
    </div>

  </div>

</div>
<% end %>
