<div class="dashboard-profile-summary">
  <% global_allowed = Specialty.all.count * 4 %>
  <% specialty_allowed = 4 %>
  <% progress_color_g = "#42433e" %>
  <% progress_color_s = "#42433e" %>
  <% font_color_g = "#42433E" %>
  <% font_color_s = "#42433E" %>
  <% global_count = 0 %>
  <% specialty_count = 0 %>

  <!-- Count all the referals given-->
  <% Specialty.all.each do |specialty| %>
  <% global_count += Approval.where(giver: current_user).where(specialty: specialty).count %>
  <% end %>
  <% global_count_percentage = (global_count*100)/global_allowed %>


  <!-- This calculates the color of "Total remaining available referrals" progress bar's background depending on the remaining referrals -->
  <% if global_count_percentage >= 0 && global_count_percentage <= 30 %>
  <% progress_color_g = "#6fbcb4" %>
  <% elsif global_count_percentage > 30 && global_count_percentage <= 60 %>
  <% progress_color_g = "#fff538" %>
  <% elsif global_count_percentage > 60 && global_count_percentage <= 99 %>
  <% progress_color_g = "#E67E22" %>
  <% else %>
  <% global_count_percentage = 100 %>
  <% progress_color_g = "#FD1015" %>
  <% end %>

  <h4>Remaining Quota</h4>
  <div class="dashboard-profile-summary" style="border: none; padding-bottom: 0;">
  <p>Total remaining available referrals</p>
  <div class="progress position-relative" style="height: 25px; width: 50%; margin: 15px auto; font-size: 0.95rem; color: <%= font_color_g %>;">
    <div class="progress-bar" role="progressbar" style="background: <%= progress_color_g %>; width: <%= global_count_percentage %>%" aria-valuenow="<%= global_count %>" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="justify-content-center d-flex position-absolute w-100"><%= global_count %> of <%= global_allowed %></div>
  </div>
</div>

  <!-- This calculates the color of "Remaining available referrals by specialty" progress bars' background depending on the remaining referrals -->
  <div class="dashboard-profile-summary" style="border: none; padding-bottom: 0;">
    <p>Remaining available referrals by specialty</p>

    <% Specialty.all.each do |specialty| %>
    <% specialty_count = Approval.where(giver: current_user).where(specialty: specialty).count %>
    <% specialty_count_percentage = (specialty_count*100)/specialty_allowed %>
    <% if specialty_count_percentage >= 0 && specialty_count_percentage <= 30 %>
    <% progress_color_s = "#6fbcb4" %>
    <% elsif specialty_count_percentage > 30 && specialty_count_percentage <= 60 %>
    <% progress_color_s = "#fff538" %>
    <% elsif specialty_count_percentage > 60 && specialty_count_percentage <= 99 %>
    <% progress_color_s = "#E67E22" %>
    <% else %>
    <% specialty_count_percentage = 100 %>
    <% progress_color_s = "#FD1015" %>
    <% end %>

    <div class= "d-flex align-items-center">
      <div><%= specialty.name.capitalize %></div>
      <div class="progress position-relative" style="height: 25px; width: 50%; margin: 15px auto; font-size: 0.95rem; color: <%= font_color_s %>;">
        <div class="progress-bar" role="progressbar" style="background: <%= progress_color_s %>; width: <%= specialty_count_percentage %>%" aria-valuenow="<%= specialty_count %>" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="justify-content-center d-flex position-absolute w-100"><%= specialty_count %> of <%= specialty_allowed %></div>
      </div>
    </div>
    <% end %>
  </div>
</div>


