<% @re_approvals.each do |approval| %>
<div class="card-approval">
  <div class="approval-header">
    <h4><%= approval.headline %></h4>
  </div>
  <div class="dashboard-received">
    <div>
      <p class="text-light-gray text-small">
        Reviewed by a verified doctor in
        <% recommender = User.find { |user| approval.giver_id == user.id } %>
        <%= recommender.specialties.first[:name]%>
        on
        <%= "#{approval.created_at.strftime("%d")}" + " #{@months[approval.created_at.month]} " + "#{approval.created_at.strftime("%Y")}" %>
      </p>
      <p>
        <%= approval.content %>
      </p>
    </div>
    <div >
      <div class="text-light-gray text-right">
        <p style="margin: 0px;">
        </p>
        <% approval.fields.each do |field|  %>
        <div class="tag-outline" style="height: 34px;">
          <%= field.name %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
