<div class="dashboard-profile-summary">
  <% percentage = 0 %>
  <% total_allowed = Specialty.all.count * 4 %>
  <% specialty_allowed = 4 %>
  <% global_count = (2*100)/total_allowed %>
  <% specialty_count = (3*100)/specialty_allowed %>
  <% progress_color_g = "#42433e" %>
  <% progress_color_s = "#42433e" %>
  <% font_color_g = "#42433E" %>
  <% font_color_s = "#42433E" %>
<!-- This calculates the remaining referrals -->

<!-- This calculates the color of "Total remaining available referrals" progress bar's background depending on the remaining referrals -->
  <% if global_count >= 0 && global_count <= 30 %>
  <% progress_color_g = "#6fbcb4" %>
  <% elsif global_count > 30 && global_count <= 60 %>
  <% progress_color_g = "#fff538" %>
  <% elsif global_count > 60 && global_count <= 99 %>
  <% progress_color_g = "#E67E22" %>
  <% else %>
  <% global_count = (total_allowed*100)/total_allowed %>
  <% progress_color_g = "#FD1015" %>
  <% end %>
<!-- This calculates the color of "Remaining available referrals by specialty" progress bars' background depending on the remaining referrals -->
  <% if specialty_count >= 0 && specialty_count <= 30 %>
  <% progress_color_s = "#6fbcb4" %>
  <% elsif specialty_count > 30 && specialty_count <= 60 %>
  <% progress_color_s = "#fff538" %>
  <% elsif specialty_count > 60 && specialty_count <= 99 %>
  <% progress_color_s = "#E67E22" %>
  <% else %>
  <% specialty_count = (specialty_allowed*100)/specialty_allowed %>
  <% progress_color_s = "#FD1015" %>
  <% end %>

  <h4>Remaining Quota</h4>

  <p>Total remaining available referrals</p>
  <div class="progress position-relative" style="height: 25px; width: 50%; margin: 15px auto; font-size: 0.95rem; color: <%= font_color_g %>;">
    <div class="progress-bar" role="progressbar" style="background: <%= progress_color_g %>; width: <%= global_count %>%" aria-valuenow="<%= global_count %>" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="justify-content-center d-flex position-absolute w-100"><%= (global_count*total_allowed)/100 %> of <%= total_allowed %></div>
  </div>

  <p>Remaining available referrals by specialty</p>

  <% Specialty.all.each do |specialty| %>
  <%= specialty.name.capitalize %>
  <div class="progress position-relative" style="height: 25px; width: 50%; margin: 15px auto; font-size: 0.95rem; color: <%= font_color_s %>;">
    <div class="progress-bar" role="progressbar" style="background: <%= progress_color_s %>; width: <%= specialty_count %>%" aria-valuenow="<%= specialty_count %>" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="justify-content-center d-flex position-absolute w-100"><%= (specialty_count*specialty_allowed)/100 %> of <%= specialty_allowed %></div>
  </div>
  <% end %>
</div>


