<div class="dashboard-profile-summary">
  <% global_count = 0 %>
  <% field_count = 0 %>
  <% progress_color = "#6FBCB4" %>
  <% font_color = "#42433E" %>
  <% field_order_hash = Hash.new %>
  <% Field.all.each do |field| %>
    <% global_count += Approval.joins(:fields).where(receiver: current_user).where(fields: {id: field} ).count %>
  <% end %>

  <h4>Received recommendations</h4>

  <div class="dashboard-profile-summary gridded" style="border: none;">

    <div style="text-align: left;">
    Recommendations in <strong><%= current_user.specialties.first[:name].capitalize %></strong>
    </div>

    <div class= "d-flex align-items-center justify-content-center">
      <h1 style="margin: 0;"><%= Approval.all.select { |approval| approval.receiver_id == current_user.id }.count %></h1>
    </div>

  </div>

  <div class="dashboard-profile-summary" style="border: none; padding: 24px; text-align: start;">
    <p style="margin: 0;">Conditions mentioned in your recomendations</>
  </div>

  <% Field.all.each do |field| %>
    <% field_count = Approval.joins(:fields).where(receiver: current_user).where(fields: {id: field} ).count %>
    <% if field_count != 0 %>
        <% field_order_hash[field.name.capitalize] = field_count %>
    <% end %>
  <% end %>
  <% field_order_hash = field_order_hash.sort_by {|k, v| -v} %>

  <div>
    <% field_order_hash.each do |field, count| %>
      <div class="dashboard-profile-summary gridded" style="border: none">
        <div>
          <div><%= field %></div>
        </div>
        <div>
          <% field_count_percentage = (count*100)/global_count %>
          <div class= "d-flex align-items-center" style="height: 30px;">
            <div class="progress position-relative" id="personalized" style="height: 22px; width: 125px; margin: 15px auto; font-size: 0.95rem; color: <%= font_color %>;">
              <div class="progress-bar" role="progressbar" style="background: <%= progress_color %>; width: <%= field_count_percentage %>%" aria-valuenow="<%= field_count_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="justify-content-center d-flex position-absolute w-100"><%= count %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>


