<div class="card-doc">
  <div>
    <h4><%=doctor.full_name_with_title%></h4>
    <div class="additional_info"><%= doctor.position_specialty_clinic %></div>
    <% if doctor.clinic %>
      <div class="additional_info"><%= doctor.clinic.address%></div>
    <% end %>
  </div>
  <div>
    <%= cl_image_tag doctor.profile_picture, height: 100, width: 100, crop: :fill, alt: "profile_picture", class: "avatar-square" %>
  </div>
  <%= render partial: 'users/recommendation_btn', object: doctor, as: :doctor %>
  <div>
    <%= link_to "Profile", doctor_path(doctor), class: "btn-mint outline hidden"%>
  </div>
</div>
