<div class="filter-bar">
  <%= form_tag doctors_path, method: :get do %>
    <h5>Specialty</h5>
    <%= select_tag :specialty,
      options_from_collection_for_select(
      Specialty.all, "name", "name",
      params[:specialty]),
      multiple: true,
      select: params[:specialty],
      class: "js-example-basic-multiple btn-outline"
    %>
    <h5>Field</h5>
    <%= select_tag :field,
      options_from_collection_for_select(
      Field.all, "name", "name",
      params[:field]),
      multiple: true,
      select: params[:field],
      class: "js-example-basic-multiple btn-outline"
    %>
    <h5>Location</h5>
    <div class="address">
    <%= text_field_tag :location,
      params[:location],
      class: "input-field address-input"
    %>
    </div>
    <%= submit_tag "Search", class: "btn-mint" %>
  <% end %>
</div>


