<div>
  <%= form_tag doctors_path, method: :get, class: "filter-bar" do %>
    <div>
    <%= select_tag :specialty,
      options_from_collection_for_select(
      Specialty.all, "name", "name",
      params[:specialty]),
      include_blank: true,
      #multiple: true,
      class: "js-example-basic-single",
      id: "specialty"
    %>
    </div>
    <div>
    <%= select_tag :field,
      options_from_collection_for_select(
      Field.all, "name", "name",
      params[:field]),
      multiple: true,
      select: params[:field],
      class: "js-example-basic-multiple btn-outline",
      id: "field"
    %>
    </div>
    <div>
    <%= text_field_tag :name,
      params[:name],
      placeholder: "Doctor name",
      class: "input-field"
    %>
    </div>
    <div class="address">
    <%= text_field_tag :location,
      params[:location],
      placeholder: "Location",
      class: "input-field address-input"
    %>
    </div>
    <div>
    <%= submit_tag "Search", class: "btn-mint" %>
    </div>
  <% end %>
</div>


