<!-- Do not delete the outer div!!! -->

<div id="search-results">
  <% if @approvals.empty? %>
    <br>
    <p>No recommendations found.</p>
  <% else %>
    <% @approvals.each do |approval| %>
    <div class="card-approval">
      <div class="approval-header">
        <h4><%= approval.headline %></h4>
          <div class="card-approval-date">
            <p><%= "#{approval.created_at.strftime("%d")}" + " #{@months[approval.created_at.month]} " + "#{approval.created_at.strftime("%Y")}" %></p>
          </div>
      </div>
      <div class="tag-container">
        <% approval.fields.each do |field|  %>
          <div class="tag-outline tag"><%= field.name %></div>
        <% end %>
      </div>
        <p><%= approval.content %></p>
      <div class="approval-footer">
        <p>
          Verified doctor in
          <% recommender = User.find { |user| approval.giver_id == user.id } %>
          <%= recommender.specialties.first[:name]%>
        </p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>




