<div class="page-container">
  <%= render 'users/filter_bar' %>
  <div class="search-map-container">
    <div>
      <% if @doctors.empty? %>
        <p><strong>No doctors match your search criteria.</strong></p>
      <% else %>
        <p><%= @doctors.count %><%= @doctors.count > 1 ? " doctors" : " doctor" %> found
          <% if params[:location].present? %>
            in <strong> <%= params[:location] %></strong>
          <% end %>
          <% if params[:specialty].present? %>
            for <strong><%= params[:specialty].first %></strong>
          <% end %>
          <% if params[:field].present? %>
            in <strong>
            <% params[:field].each do |field| %>
              <%= field == params[:field].last ? field : field + ", "%>
            <% end %>
            </strong>
          <% end %>
        <%= render partial: 'users/doctor_card', collection: @doctors, as: :doctor %>
      <% end %>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 80vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
