<div class="page-container">
  <div class="search-map-container">
    <div>
      <%= render 'users/filter_bar' %>
      <% if @doctors.empty? %>
        <p><strong>No doctors found.</strong></p>
      <% else %>
        <p><strong><%= @doctors.count %><%= @doctors.count > 1 ? " doctors" : " doctor" %> found
          <%= " in " + params[:location] if params[:location].present? %>
          <%= " for " + params[:specialty].first if params[:specialty].present? %><strong></p>
        <%= render partial: 'users/doctor_card', collection: @doctors, as: :doctor %>
      <% end %>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 80vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
