<div class="page-container">
  <%= render 'users/profile_banner' %>
  <%= render 'users/profile_tabs' %>
  <%= render 'users/profile_content' %>
  <%= link_to "Back", doctors_path, class: "btn-mint btn-profile-back" %>
  <%= render 'users/profile_approval_section' %>
</div>
