<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="tag-container">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "docreflogo.png" %>
    <% end %>
    <div id="text-logo"><h2>DocRef</h2></div>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%= link_to "Recommend", new_approval_path, class: "btn-mint outline" %>
        <%= link_to "Search", doctors_path, class: "btn-mint outline" %>
      <li class="nav-item active" style="margin: 0px;">
        <%= link_to "#{current_user.title} #{current_user.first_name} #{current_user.last_name}", doctor_path(current_user), class: "nav-link text_mint" %>
      </li>
      <li class="nav-item dropdown">
        <%= cl_image_tag current_user.profile_picture,
            height: 100,
            width: 100,
            crop: :fill,
            id: "navbarDropdown",
            class: "avatar dropdown-toggle",
            data: { toggle: "dropdown" },
            'aria-haspopup': true,
            'aria-expanded': false
        %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "My Dashboard", dashboard_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
      <li>
        <%= link_to "Search", doctors_path, class: "btn-mint outline", style: "width: 104px;" %>
        <%= link_to "For doctors", new_user_session_path, class: "btn-mint outline" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

