<div class="page-container landing-container">
  <div id="info-search">
    <div id="info-intro">
      <h1>Finding the right doctor for you.</h1>
    </div>
    <div id="search-area">
      <div id="landing-search">
        <h4>Trustworthy recommendations  by doctors for your condition.</h4>
        <div>
          <%= form_tag doctors_path, method: :get, class: "two-field-search-container" do %>
          <%= text_field_tag :specialty_or_field,
          params[:specialty_or_field],
          class: "input-field input-lg m-0",
            placeholder: "Pancreatic Cancer"
            %>
            <%= text_field_tag :location,
            params[:location],
            class: "input-field input-lg m-0 address-input",
              placeholder: "Berlin"
              %>
              <% submit_tag "Search", class: "btn-mint btn-large" %>
              <%= link_to "Demo-Search", "https://www.docref.de/doctors?utf8=%E2%9C%93&specialty_or_field=pancreatic+cancer&location=Berlin%2C+Germany&commit=Search", class: "btn-mint btn-large", style: "width: 152px" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="container-two">
      <div id="why-docref"><h1>Why DocRef?</h4></div>
        <div class="why-container">
            <%= image_tag "icons/doctor.svg", class:"mission-icon" %>
            <%= image_tag "icons/organ.svg", class:"mission-icon" %>
            <%= image_tag "icons/verified.svg", class:"mission-icon" %>
          <div>
            <h4 class="mission-card-title">By Doctors</h4>
          </div>
          <div>
            <h4 class="mission-card-title">Condition Specific</h4>
          </div>
          <div>
            <h4 class="mission-card-title">Verified</h4>
          </div>
          <div>Online reviews of doctors are normally written by patients, who evaluate their treatment quality different to an experienced doctor.</div>
          <div>A cardiologist may be excellent in treating arteriosclerosis, but may be less experienced in other fields.</div>
          <div>Doctor reviews can easily be faked and manipulated across the internet.</div>
          <div class="mission-selling-point">
            <strong>On DocRef, only doctors write recommendations for other doctors.</strong>
          </div>
          <div class="mission-selling-point">
            <strong>DocRef recommendations are based on conditions and not just specialties.</strong>
          </div>
          <div class="mission-selling-point">
            <strong>That is why all doctors on DocRef are verified clinicians.</strong>
          </div>
        </div>
      </div>
    </div>

    <%= render 'shared/footer' %>

<!-- Why DocRef?

Online reviews of doctors are often unreliable and can easily be faked.

They are normally written by patients, who may have difficult evaluating the quality of their treatment.

-->



