<div class="page-container">
  <div id="info-search">
    <div id="info-intro">
      Finding the right doctor for you.
    </div>
    <div id="search-image">
      <div id="landing-search">
        <p>Trustworthy recommendations  by doctors  for your condition.</p>
        <div>
          <%= form_tag doctors_path, method: :get, class: "two-field-search-container" do %>
            <%= text_field_tag :specialty_or_field,
              params[:specialty_or_field],
              class: "input-field m-0",
              placeholder: "Cardiologist for Heart Failure"
            %>
            <%= text_field_tag :location,
              params[:location],
              class: "input-field address-input",
              placeholder: "Berlin"
            %>
            <%= submit_tag "Search", class: "btn-mint" %>
          <% end %>
        </div>
      </div>
      <div id="landing-image">
        <%= image_tag "picture-homepage.svg" %>
      </div>
    </div>
  </div>

  <div id="info-user">

  </div>

  <div id="info-footer">


  </div>



