<div class="profile-banner d-flex">
  <div>
    <%= cl_image_tag @doctor.profile_picture, height: 300, width: 300, crop: :fill, id: "profile-pic", class: "avatar-square-profile" %>
  </div>

  <div style="flex-grow: 1; padding: 16px;">
    <div class="doctor-name">
      <h1>
        <%= @doctor.title + " "%>
          <!-- <strong> -->
            <%= @doctor.first_name + " " + @doctor.last_name%>
          <!-- </strong> -->
      </h1>
    </div>
    <div class="doctor-position">
      <h5><%= @doctor.position + " in " + @doctor.specialties.first[:name] + " at " + @doctor.clinic.name %></h5>
    </div>
  </div>

  <div>
    <ul class="contact-list">
      <li><%= @doctor.clinic.website%></li>
      <li><%= @doctor.clinic.email%></li>
      <li><%= @doctor.clinic.phone_number%></li>
    </ul>
  </div>

</div>
