<div class="doctor-tabs-row">

  <!-- Column 1 -->

  <div>
    <%= render "users/profile_page/profile_interactive_tabs" %>
  </div>

  <!-- Column 2 -->

  <div>
    <div>
      <%= form_tag(doctor_path, method: :get, remote: true, class: "two-field-search-container") do %>
        <div> <!-- id="search-approvals"> -->
        <%= text_field_tag :keyword_search,
          params[:keyword_search],
          class: "input-field",
          placeholder: "Search for keyword"
        %>
        </div>
        <div>
        <%= select_tag :approval_field,
          options_from_collection_for_select(
          Field.joins(:approvals).where(approvals: {receiver: @doctor}).uniq, "name", "name",
          params[:approval_field]),
          multiple: true,
          class: "input-field js-example-basic-multiple",
          id: "tag-filter"
        %>
        </div>
        <div>
        <%= submit_tag "Search", class: "btn-mint" %>
        </div>
      <% end %>
    </div>

    <div>
      <%= render 'users/profile_page/profile_approvalcards_list' %>
    </div>
  </div>

</div>
