<!-- Do not delete outer div -->
<div class="card-approval">
  <div class="approval-header d-flex justify-content-between">
<!-- Header is a flex-box with three flex-items -->
    <div>
      <div>
        <h4><%= '"' + approval.headline + '"' %></h4>
      </div>
      <div class="card-subtitle">
        <p >Recommended for:</p>
      </div>
    </div>
      <% if approval.anonymous %>
        <div class="recommender-info">
          <div>
            <p>
              <%= render 'shared/icon_check' %>
              Verified doctor
            </p>
          </div>
          <div>
            <p>
              in <% recommender = approval.giver %>
              <%= recommender.specialties.first[:name]%>
            </p>
          </div>
        </div>
        <%= image_tag "profile.png", alt: "Doctor Avatar", class: "avatar-medium align"%>
      <% else %>
        <div class="recommender-info">
          <div>
            <p>
              <%= render 'shared/icon_check' %>
              <%= approval.giver.full_name_with_title %>
            </p>
          </div>
          <p>
            Verified doctor in <%= approval.giver.specialties.first.name%>
          </p>
        </div>
        <%= cl_image_tag approval.giver.profile_picture,
          height: 50,
          width: 50,
          crop: :fill,
          class: "avatar-medium"
        %>
      <% end %>
    </div>


<!-- Approval tags and content -->
  <div class="d-flex flex-wrap">
    <% approval.fields.each do |field|  %>
    <div class="tag-outline"><%= field.name %></div>
    <% end %>
    <div><p style="margin-bottom: 0;"><%= approval.content %></p></div>
  </div>

  <div class="card-date">
    <%= "#{approval.created_at.strftime("%d")}" + " #{@months[approval.created_at.month]} " + "#{approval.created_at.strftime("%Y")}" %>
  </div>
</div>

